.env
.env.*
.git
.gitignore
.phpunit.cache
.phpunit.result.cache
.phpactor.json
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/tests
*.log
*.sqlite
*.sqlite-journal
_ide_helper.php
.DS_Store
Dockerfile
.dockerignore
